.TaskView {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    .t-cnt-task {
        width: 350px;
        height: 280px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background: var(--c50);
        padding: 30px 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        &.bg-edit{
            background: var(--c200);
        }

        &.bg-delete{
            background: rgb(247, 204, 204);
        }

        .t-cnt-up {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .t-header {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .t-tile {
                    font-style: 1.2rem;
                }

                .t-cnt-d-btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .t-cnt-dates {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .t-date {
                            font-size: .8rem;
                            color: gray;
                            font-weight: 500;
                        }
                    }

                    .t-btn {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        &:hover {

                            path {
                                transition: all 0.5s;

                                &:hover {
                                    fill: var(--c800);
                                }
                            }

                        }

                        .t-btn_ac {
                            border: none;
                            background: none;
                            cursor: pointer;

                            .t-img {
                                &:hover {
                                    filter: invert(22%) sepia(39%) saturate(756%) hue-rotate(179deg) brightness(86%) contrast(88%);
                                }
                            }

                        }
                    }
                }

            }

            .t-cnt-body {
                width: 100%;


                .t-description {
                    font-size: 1rem;
                    line-height: 20px;
                    color: var(--black);
                }
            }
        }

        .t-cnt-sta {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    .s-title-spa {
        font-size: 0.9rem;
        color: gray;
        font-weight: 5000;
    }

    .t-btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: .7rem;
    }
}